---
apiVersion: 'apps/v1'
kind: 'Deployment'
metadata:
  name: 'stable'
  labels:
    release: 'stable'
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
  selector:
    matchLabels:
      release: 'stable'
  template:
    metadata:
      labels:
        release: 'stable'
    spec:
      containers:
        - name: 'rails-app'
          image: 'tsuayumu/gcp-rails_sports-rails_backend:242485d7b28cda3650fa16030b1e7778bc28008cdf3e13fdeac85021ba4db9a0'
          ports:
            - containerPort: 3001
          envFrom:
            - configMapRef:
                name: 'rails-env'
            - secretRef:
                name: 'mysecret'
        - name: 'nuxt-app'
          image: 'tsuayumu/gcp-rails_sports-rails_frontend:b5d281406b6f4ea851624a9d7eb80fb00a11ee352ea79d330fd2e920eaad9ad4'
          ports:
            - containerPort: 3000
          envFrom:
            - configMapRef:
                name: 'node-env'
        - name: 'web'
          image: 'tsuayumu/gcp-rails_sports-rails_web:139a98f278ccfc2f7a4e8137ea5d9f728b4ef5321038a6a993ddb0f561a15056'
          ports:
            - containerPort: 80
          envFrom:
            - configMapRef:
                name: 'node-env'
